* {
    box-sizing: border-box;
}

body {
    background-color: #fce899;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 448px;
    height: 320px;
    margin: 0 auto;
    margin-top: 20px;
    outline: 1px solid #fff;

    transform: scale(2) translateY(50%);
}

.game-container canvas {
    image-rendering: pixelated;
}


#health {
  position: absolute;
  left: 0;
  top: 0;
  height: 10%;
}
