* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container {
  background-color: #fce899;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  outline: 1px solid #fff;
  align-items: center;
  justify-content: center;
}

.overlay {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.game-container canvas {
    image-rendering: pixelated;
}

.grid-cell {
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

  .Character.you {
    z-index: 1;
  }
  .Character.you .Character_you-arrow {
    display: block;
  }

  .Character_name-container {
    position: absolute;
    top: -20vh;
    left: -8vw;
    font-size: 2vw;
    padding: 5px;
    border-radius: 3px;
    background: #333;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: 'Common Pixel', sans-serif;
                                                
  }
  .Character_coins {
    margin-left: 1px;
    color: gold;
  }

  .jerrycan-overlay {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    top: 0;
    right: 0;
  }

  .jerrycan-image {
    width: 6vw;
    height: 6vw;
    background-size: cover;
    background-image : url('../images/jerrycan_animation.png');
  }

  .jerrycan-quantity {
    z-index: 1;
    font-size: 4vw;
    padding: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    font-family: 'Common Pixel', sans-serif;  
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }
  
  @keyframes moveSpriteSheet {
    from {
      background-position-x: 0px;
    }
    to {
      background-position-x: calc(6vw * 9);
    }
  }

.skin-player {
  width: 15vh;
  height: 15vh;
  image-rendering: pixelated;
  background-size: 135vh 135vh;
  background-image: url('../images/player.png');
}

#health {
  position: absolute;
  left: 0;
  top: 0;
  width: 20vw;
  margin-left: 1vw;
  margin-top: 2vh;
  height: 10vh;
  accent-color: green;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#timer {
  position: absolute;
  color: white;
  width: 50%;
  top: 0;
  margin: 0;
  text-align: center;
  font-size: 8vw;
  font-family: 'Common Pixel', sans-serif;                             
}

.HomeScreen {
  margin: auto;
  text-align: center;
}

.HomeScreen .title {
  margin: 0;
  font-size: 10vh;
  color: orange;
  height: auto;
  font-family: 'Common Pixel', sans-serif;
}

.HomeScreen button {
  padding: 4%;
  position: relative;
  background: green;
  margin: auto;
  margin-top: 10%;
  text-transform: uppercase;
  border: none;
  color: white;
  font-size: 6vh;
  font-family: 'Common Pixel', sans-serif;
  outline: 0;
}

.notifications {
  top: 8vh;
  position: absolute;
  right: 0;
  z-index: 1;
}

.notification {
  font-size: 25px;
  padding: 10px;
  margin: 20px;
  border-radius: 3px;
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: 'Common Pixel', sans-serif;
}

.notification.success .title {
  color: green;
}

.notification.error .title {
  color: red;
}

.notification.info .title {
  color: blue;
}

.notification .description {
  color: #fff;
  font-size: 15px;
}

.action-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
}

.action-button {
  position: absolute;
  width: 15vh;
  height: 15vh;
  border: 5px solid black;
  border-radius: 50%;
  image-rendering: pixelated;
  background-color: #fce899;  
  background-position: center;
  background-size: 15vh;
  image-rendering: pixelated;
  margin: 10px;
  bottom: 0;
  right: 0;
}

.collect_button {
  background-image: url('../images/collect_icon.png');
}

.drill_button {
  background-image: url('../images/drill_icon.png');
}

.trade_button {
  background-image: url('../images/golden_jerrycan_icon.png');
}

.flee_button {
  background-image: url('../images/flee_icon.png');
}

.attack_button {
  background-image: url('../images/attack_icon.png');
}

.share_button {
  background-image: url('../images/share_icon.png');
}

.steal_button {
  background-image: url('../images/steal_icon.png');
}

.move-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40vh;
  height: 40vh;
  margin: 20px;
}

.skin {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.move-button {
  position: absolute;
  width: 15vh;
  height: 15vh;
  image-rendering: pixelated;
  border: none;
  background: none;
  background-position: center;
  background-size:30vh;
  background-image: url('../images/triangle.png');
}

.rotate-left {
  transform: rotate(-90deg);
}

.rotate-right {
  transform: rotate(90deg);
}

.skin-button {
  width: 15vh;
  height: 15vh;
  image-rendering: pixelated;
  border: none;
  background: none;
  background-position: center;
  background-size:30vh;
  background-image: url('../images/triangle.png');
}

.move-left {
  transform: translateY(15vh) rotate(-90deg);
}

.move-right {
  transform: translateY(15vh) translateX(30vh) rotate(90deg);
}

.move-up {
  transform: translateX(15vh) rotate(0deg);
}

.move-down {
  transform: translateX(15vh) translateY(30vh) rotate(180deg);
}

.rooms-screen {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.rooms-list {
  width: 80vw;
  height: 70vh;
  overflow: scroll;
}


.room {
  display: flex;
  flex-direction: row;
  padding: 2vh 3vw;
  margin: 1vh;
  background-color: orange;
  border-radius: 1vh;
  justify-content: space-between;
  color: white;
  font-size: 5vh;
  font-family: 'Common Pixel', sans-serif;
}
.no-room {
  display: flex;
  flex-direction: row;
  padding: 2vh 3vw;
  margin: 1vh;
  background-color: orange;
  border-radius: 1vh;
  justify-content: space-between;
  color: white;
  font-size: 5vh;
  font-family: 'Common Pixel', sans-serif;
}


.room-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.room-locker {
  width: 10vh;
  height: 10vh;
}

.go-back {
  position: absolute;
  border: 0;
  border-radius: 1vh;
  background: none;
  background-position: center;
  background-size: 10vh;
  image-rendering: pixelated;
  background-image: url('../images/back.png');
  top: 5vh;
  right: 5vh;
  width: 10vh;
  height: 10vh;
}

.create-room-screen {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.create-room {
  width: 80vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.create-room-btn {
  padding: 1vh;
  position: relative;
  background: green;
  text-transform: uppercase;
  border: none;
  border-radius: 1vh;
  color: white;
  margin: 5vh;
  font-size: 6vh;
  font-family: 'Common Pixel', sans-serif;
  outline: 0;
}

.create-room-input {
  padding: 1vh;
  position: relative;
  background: orange;
  text-transform: uppercase;
  border: none;
  border-radius: 1vh;
  color: white;
  margin: 5vh;
  font-size: 6vh;
  width: 70vw;;
  font-family: 'Common Pixel', sans-serif;
  outline: 0;
}

.create-room-field {
  color: white;
  margin: 1vh;
  font-size: 6vw;
  font-family: 'Common Pixel', sans-serif;
}

.create-room-private {
  width: 4vw;
  height: 4vw;
  border-radius: 1vh;
}
