.container {
  margin: 10%;
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.pixel2:active {
  top: 2px;
}


.pixel2 {
  font-size: 25px;
  color: white;
  height: auto;
  margin: 10px;
  font-family: 'Common Pixel', sans-serif; 

  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;

  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.pixel2 {
  position: relative;
  display: block;
  margin: 10px;
  font-family: 'Common Pixel', sans-serif; 
  text-transform: uppercase;

  font-size: 25px;
  color: white;
}

.pixel2::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: green;
  z-index: -1;
}

.pixel2::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: green;
  z-index: -1;
}

.pixel2 {
  padding: 10px 10px;
  position: relative;
  background: green;
  width: 50%;
  z-index: 2;
  margin: auto;
  margin-top: 10%;
}

#title {
  font-size: 100px;
  color: white;
  height: auto;
  margin: 10px;
  font-family: 'Common Pixel', sans-serif; 
}


body {
  background: #fce899;
}


#menu {
  padding: 5%;
  margin-top: 10%;
  outline: 1px solid #fff;
  width: 50%;
}
